.header {
  width: 100%;
  position: absolute;
  background: rgb(255, 255, 255, 0.3);
}

.header ul {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-right: 20px;
  margin-left: 20px;

  align-items: center;
}

 li {
  cursor: pointer !important;
}
